In [11]:
# Q1. Store daily sales numbers in a Python list and calculate the total.
sales=[120, 250, 300, 100]
sum(sales)

770

In [12]:
# Find the number of transactions (length of the list).
len(sales)

4

In [13]:
# Q3. Find the highest and lowest sales in a list.
print(max(sales))
print(min(sales))

300
100

In [14]:
# Q4. Count how many times a product was sold.
# Hint: Use .count(value).
# Example:
# Input: ["Apple","Banana","Apple","Orange","Apple"]
# Output: Apple=3

products= ["Apple","Banana","Apple","Orange","Apple"]
products.count('Apple')

3

In [15]:
# Find the top 3 highest daily sales.
# Hint: Use sorted(list, reverse=True)[:3].
# Example:
# Input: [120, 450, 200, 800, 300]
# Output: [800, 450, 300]
sorted_sales=sorted([120, 450, 200, 800, 300],reverse=True)
sorted_sales[:3]

[800, 450, 300]

In [16]:
# Calculate percentage growth between days.
# Formula:

# 
#  Example:
# Input: [100, 120, 150]
# Output: [20.0, 25.0]

growth=[100,120,150]
print((growth[1]-growth[0])/100*100)
print((growth[2]-growth[1])/120*100)

20.0
25.0

In [17]:
# Q7. Convert sales to cumulative totals.
# Hint: Running sum with a loop.
# Example:
# Input: [100, 200, 300]
# Output: [100, 300, 600]

sales=[100, 200, 300]
cumulative_sales=[]
total=0
for x in sales:
    total+=x
    cumulative_sales.append(total)
cumulative_sales

[100, 300, 600]

In [18]:
# Remove outliers (sales < 50 or > 500).
# Hint: Use list comprehension with condition.
# Example:
# Input: [20, 100, 600, 300, 450]
# Output: [100, 300, 450]

data=[20, 100, 600, 300, 450]
data_A_ro=[x for x in data if 50<=x<=500]
data_A_ro

[100, 300, 450]

In [19]:
# # Example:
# # Input: [100, 200, 300, 400]
# # Output: [0.0, 0.33, 0.66, 1.0]
# Q9. Normalize sales values between 0–1.
input=[100, 200, 300, 400]
output=[]
for x in input:
    y=(x-min(input))/(max(input)-min(input))
    output.append(y)
print(input)
print(output)

[100, 200, 300, 400]
[0.0, 0.3333333333333333, 0.6666666666666666, 1.0]

In [1]:
# Q10. Calculate 3-day moving average (rolling mean).
#  Hint: Use Sliding window=3
#  Example:
# Input: [10,20,30,40,50]
# (10+20+30)/3=20.0 , (20+30+40)/3=30 , (30+40+50)/3=40.0
# Output: [20.0, 30.0, 40.0]
input= [10,20,30,40,50]
output=[]
sl_wind=3
input[:3]
for i in range(len(input)-sl_wind+1):
    wind_Sum= sum(input[i:i+sl_wind])
    output.append(wind_Sum/sl_wind)
output

[20.0, 30.0, 40.0]

In [2]:
# Q11. Compare online vs offline sales (two lists).
#  Hint: Use zip() to combine lists.
#  Example:
# Input: online=[100,200,300], offline=[50,150,250]
# Output: [(100,50),(200,150),(300,250)]
online=[100,200,300]
offline=[50,150,250]
list(zip(online,offline))

[(100, 50), (200, 150), (300, 250)]

In [25]:
# Q12. Group sales into weekly totals (7 days per group).
#  Hint: Use slicing in steps of 7.
#  Example:
# Input: [10,20,30,40,50,60,70,80,90]
# Output: [280, 170]
Input= [10,20,30,40,50,60,70,80,90]
output=[]
output.append(sum(Input[:7]))
output.append(sum(Input[7:]))
output

[280, 170]

In [2]:
# Q13. Create year-to-date (YTD) totals from monthly sales.
#  Hint: Similar to cumulative totals, but grouped by year.
#  Example:
# Input: [Jan=100, Feb=200, Mar=300]
# Output: [100, 300, 600]

sales=[100,200,300]
cumulative_Sales=[]
total1=0
for x in sales:
    total1+=x
    cumulative_Sales.append(total1)
cumulative_Sales

[100, 300, 600]

In [4]:
# Q14. Calculate contribution % of each product to total sales.
#  Formula:

#  Example:
# Input: [100, 200, 700]
# Output: [10%, 20%, 70%]

input2= [100, 200, 700]
output=[]
for x in input2:
    output.append(x/sum(input2)*100)
output

[10.0, 20.0, 70.0]

In [7]:
# Q15. Rank sales values (1 = highest).
#  Hint: Use sorted(set()) + index.
#  Example:
# Input: [500, 200, 300, 800]
# Output: [2, 4, 3, 1]
input3=[500, 200, 300, 800]
sorted_input=sorted([500, 200, 300, 800],reverse=True)
output3=[]
for x in input3:
    
            output3.append(int(sorted_input.index(x)+1))
output3

[2, 4, 3, 1]

In [15]:
# Q16. Break sales into quartiles (25%, 50%, 75%).
#  Hint: Sort list → split into 4.
#  Example:
# Input: [10,20,30,40,50,60,70,80]
# Output: Q1=[10,20], Q2=[30,40], Q3=[50,60], Q4=[70,80]

input4=sorted([10,20,30,40,50,60,70,80])
n=len(input4)
q_size=n//4
q1=input4[:q_size]
q2=input4[q_size:2*q_size]
q3=input4[2*q_size:3*q_size]
print("Q1 =",q1)
print("Q2 =",q2)
print("Q3 =",q3)

Q1 = [10, 20]
Q2 = [30, 40]
Q3 = [50, 60]

In [2]:
# Q17. Detect days where sales dropped compared to the previous day.
#  Hint: Compare list[i] < list[i-1].
#  Example:
# Input: [100,120,90,150,140]
# Output: [Day 3, Day 5]

list1= [100,120,90,150,140]
output5=[]
for i in range(1,len(list1)):
    if list1[i]<list1[i-1]:
        output5.append(f'Day {i+1}')
output5

['Day 3', 'Day 5']