In [9]:
#1
name="Puspa Raj Giri"
name=name.split()
string=""
for i in name:
    string+=i[0]
string

'PRG'

In [11]:
#Email Domain Checker
email="sita@gmail.com"
if email.endswith("@gmail.com"):
    print(f'{email} is personal email')

sita@gmail.com is personal email

In [2]:
#shorten product description
des='Brand New Samsung Galaxy S21 Ultra-256GB '
des[:20]+'...'

'Brand New Samsung Ga...'

#4
string="Kathmandu-32,Bagmati"
if "Kathmandu" in string:
    print("it is present")
else:
    print("not present")

In [3]:
# 4
string="Kathmandu-32,Bagmati"
if "Kathmandu" in string:
    print("it is present") 
else: 
    print("not present")

it is present

In [8]:
#log message format
string='ERROR: File Not Found - data.csv'
string[-8:]

'data.csv'

In [12]:
#generate user id
name,date="sangam timilsina",2002
userid=name.split()[0]+str(date)
userid

'sangam2002'

In [13]:
#standardize phone number format
number="9801234567"
output='('+number[:3]+')'+"-"+number[3:6]+"-"+number[6:]
output

'(980)-123-4567'

In [22]:
#Mask Aadhar/SSN Number
string="1234-5678-9101"
output=string.replace(string[0:4],'****')
output=output.replace(string[5:9],'****')
output

'****-5678-9101'

In [23]:
#check whether feedback contains keyword
feedback="The service was excellent and fast"
if "fast" in feedback:
    print("4 out of 5")

4 out of 5

In [25]:
#Check user is from Nepal
user_add="John, New Road, Pokhara, Nepal"
if "NEPAL" in user_add.replace(",","").upper():
    
    print(f'{user_add.split()[0].replace(",","")} is from nepal')

John is from nepal

In [38]:
#Extract area code from emailID
email='john.doe.pkr123@gmail.com'
username=email.split("@")[0]
last_dot=username.rfind(".")


area=''
for x in username[last_dot+1:]:
    if x.isdigit():
        break
    area+=x
        
area

'pkr'

In [40]:
#Check Gender from ID Prefix
n_id='F-2394023'
if n_id.startswith("M-"):
    print("Male")
elif n_id.startswith("F-"):
    print("Female")
else:
    print("Unknown")

Female

In [43]:
#Redact Offensice Words in Comment
string="This is such a stupid service."
print(string.replace("stupid","*****"))

This is such a ***** service.

In [49]:
#Extract Hastags from a Tweet 
tweet="Enjoying the #Dashain vibes in #kathmandu"
list=tweet.split()
list1=[]
for x in list:
    if x.startswith("#"):
        
        list1.append(x.replace("#",""))
list1

['Dashain', 'kathmandu']

In [51]:
#extreact country code from international phone
phn='+977-9801234567'
country_Code=phn.split("-")[0]
local_phn=phn.split("-")[1]
print(country_Code)
print(local_phn)

+977
9801234567

In [52]:
#smart truncate of sentences
string="""Python is a popular programming language known for its simplicity and readability. It is widely used for web development, data
analysis, artificial intelligence, machine learning, automation, and many other applications. Python has a large collection of libraries
and frameworks that make programming faster and easier. Its clear syntax allows beginners to learn programming concepts quickly while 
still being powerful enough for professionals to build complex systems."""

string=string[:100]+"..."
string

'Python is a popular programming language known for its simplicity and readability. It is widely used...'

In [56]:
password="dsfk2asd8"
has_8=False
has_number=False
has_upper=False
has_character=False
for x in password:
    if len(password)>=8:
        has_8=True
    if x in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
        has_upper=True
    if x in "0123456789":
        has_number=True
    if x in "!@#$%^&*()_+-=/{}[]":
        has_character=True
if has_8 & has_number & has_upper & has_character :
    print("Strong password")
else:
    print("Weak password")

Weak password

In [58]:
event="Startup World Cup Nepal 2025"
event[-4:]

'2025'

In [63]:
#check language from message prefix
message="[NP] Welcome to sipalaya"
if '[EN]' in message.split():
    print("English language")
elif '[NP]' in message.split() :
    print("Nepali Language")
elif "[JAP]" in message.split():
    print("Japanese Language")
else:
    print("Other Language")

Nepali Language

In [72]:
#summarize customer review
review ="""I absolutely loved the food and the ambience, but the
service was a bit slow.""".lower().replace(',','').replace('.','')
positive_word=["loved","great" , "amazing"]
negative_word=['slow','fast']
if any(word in review.split() for word in positive_word):
    print('positive review')
elif any(word in review.split() for word in negative_word):
    print('negative review')
else:
    print("Neutral")

positive review

# #1. Age Eligibility Check (Comparison Operator)
# Given an age age = 17, check if the user is eligible to vote (18+). Print "Eligible" or
# "Not Eligible".

In [73]:
age=17
if age>=18:
    print("Eligible")
else:
    print("Not Eligible")

Not Eligible

2. Compare Product Prices (Relational Operators)
Given two product prices price1 = 999, price2 = 1199, print which product is
cheaper.

In [74]:
price1=999
price2=1199
if price1>price2:
    print('product 2 is cheaper ')
else:
    print('product 1 is cheaper')

product 1 is cheaper

Check If Number is Even (Modulus Operator)
Given user_id = 1023, determine if the ID is even or odd using %.

In [75]:
user_id=1023
if user_id%2==0:
    print(f'{user_id} is even')
else:
    print(f'{user_id} is odd')

1023 is odd

Discount Condition Check (Logical AND)
If customer_type == "Gold" and purchase_amount > 5000, apply a 20% discount.
Use if with and.

In [78]:
custom_type=input("enter the custom type")

purchase_amount=float(input("enter the purchase amount"))
discount_amount=0
amount_after_discount=purchase_amount-discount_amount
if purchase_amount>5000 and custom_type=="Gold":
    discount_amount=0.2*purchase_amount
    amount_after_discount=0.8*purchase_amount
print(f'discount amount is {discount_amount}')
print(f'amount after discount is {amount_after_discount}')

enter the custom type Gold
enter the purchase amount 4999

discount amount is 0
amount after discount is 4999.0

Check If a Letter Is a Vowel (in Operator)
Given a character c = 'e', check if itâ€™s a vowel using in.

In [80]:
c='e'
vowel=['a','e','i','o','u']
if c in vowel:
    print("vowel")
else:
    print("consonent")

vowel

6. Password Match (Equality Operator)
Check if entered password input_pass matches stored password db_pass. Show
"Access Granted" or "Access Denied".

In [81]:
password=input("Enter the password")
db_pass="Sipalaya@123"
if password==db_pass:
    print("Access Granted")
else:
    print("Access Denied")

Enter the password sipalua

Access Denied

In [85]:
# User Activity Bonus (Compound Assignment)
# If a user performs an activity, increase their score by 10 using +=.

score =0
activity=True
if activity:
    score+=10
print(f'Your score is {score}')

Your score is 10

Salary Grade Evaluation (Comparison + Logical OR)
If salary is less than 20,000 or job title is "Intern", print "Junior Grade".

In [86]:
salary=19999
job_title="Intern"
if salary<20000 or job_title=="Intern":
    print("Junior Grade")

Junior Grade

In [91]:
# Credit Eligibility (Nested if + Logical)
# If age > 21 and income > 30000, check if credit_score > 700 to approve credit.


age=int(input("enter an age"))
income=float(input("enter your salary"))
credit_score=int(input("enter your credit score"))
if (age > 21) and (income > 30000):
    if credit_score>700:
        print("approve credit")

enter an age 36
enter your salary 36000
enter your credit score 900

approve credit

In [97]:
# 11. Data Cleaning: Replace Negative with 0 (Ternary Operator)
# If a value in dataset is negative (e.g., x = -10), use x = 0 if x < 0 else x.
dataset=[1,2,3,-1,-5,2,4,5]
new_dataset=[]
for x in dataset:
    new_dataset.append(0) if x<0 else new_dataset.append(x)
print(new_dataset)

[1, 2, 3, 0, 0, 2, 4, 5]

In [102]:
# Compare Dates as Strings (Relational Operator)
# Given two dates: "2025-06-01" and "2024-12-31", check which date is later using >
# operator.

date1="2025-06-01"
date2="2024-12-31"
if date1.split('-')[0]>date2.split("-")[0]:
    print(f'{date1} is later')
elif date1.split("-")[1]>date2.split("-")[1]:
    print(f'{date1} is later')
elif date1.split("-")[2]>date2.split("-")[2]:
    print(f'{date1} is later')
else:
    print(f'{date2} is later')

2025-06-01 is later

In [112]:
# 13. Dynamic Bonus Allocation (Ternary + Logical)
# If sales > 5000 and employee_type == 'Full-Time', bonus = 1000 else 500.

sales=6000
employee_type="Full-Time"
bonus=100 if (sales>5000 and employee_type=="Full-Time") else 500
bonus

100

In [115]:
# 14. Find the Median of Three Numbers (Chained Comparisons)
# Given a, b, and c, use chained comparisons and logical operators to find the median
# value.

a,b,c=10,25,30
if (a<=b<=c) or (c<=b<=a):
    print(f'{b} is median')
elif (b<=a<=c) or (c<=a<=b):
    print(f'{a} is median')
else:
    print(f'{c} is median')

25 is median