# Tuples

In [1]:
t1=()

print(t1)
print(type(t1))

()
<class 'tuple'>

In [2]:
t1=(10,20,30,40,40,50,'hello','world')

print(t1)
print(type(t1))

(10, 20, 30, 40, 40, 50, 'hello', 'world')
<class 'tuple'>

In [3]:
t1[0]

10

In [5]:
# t1[0]=100

# data 

id  name address
1   ram   kathmandu
2   shyam pokhara
3   hari  bhktapur

[(1,ram,kathmandu),(2,shyam,pokhara),(3,hari,bhaktapur)]

In [8]:
tup5 = ('Asif', 25 ,(50, 100),(150, 90),True) 

for item in tup5:
    print(type(item))

<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'bool'>

# moffity in tupples

In [1]:
t1=(10,20,30)
print(t1)

# del t1[0]

del t1
print(t1)

(10, 20, 30)

NameError: name 't1' is not defined

# loop through tupples

In [11]:
t1=(10,20,30)
for item in t1:
    print(item)

10
20
30

# enumerate in tupples

In [19]:
t1=(10,12,34,5,60,32)  # (      5,4, 2,6   1,3) 

for i in enumerate(sorted(t1,reverse=True)):
    print(i)

(0, 60)
(1, 34)
(2, 32)
(3, 12)
(4, 10)
(5, 5)

In [16]:
sorted(t1,reverse=True)

[60, 34, 32, 12, 10, 5]

# tupples

In [20]:
t1=(10,20,30)

t2=(40,50,60)

print(t1+t2)

(10, 20, 30, 40, 50, 60)

In [22]:
t1*3+t2*2

(10, 20, 30, 10, 20, 30, 10, 20, 30, 40, 50, 60, 40, 50, 60)

# tupples unpackings

In [28]:
id_,name,address=(1,'ram','kathmandu')
print(id_)
print(name)
print(address)

1
ram
kathmandu

In [30]:
id_,name,address,*other=(1,'ram','kathmandu',10,20,30,40,50)

In [31]:
id_

1

In [32]:
name

'ram'

In [33]:
address

'kathmandu'

In [34]:
other

[10, 20, 30, 40, 50]

In [35]:
*id_,name,address,other=(1,'ram','kathmandu',10,20,30,40,50)

In [36]:
id_

[1, 'ram', 'kathmandu', 10, 20]

In [37]:
other

50

In [38]:
id_,*name,address,other=(1,'ram','kathmandu',10,20,30,40,50)

In [39]:
name

['ram', 'kathmandu', 10, 20, 30]

# swap the values without using the 3rd variables

In [41]:
a=10
b=20
print(f'Before Swapping a : {a}   b : {b}')
b,a=(a,b)
print(f'Before Swapping a : {a}   b : {b}')

Before Swapping a : 10   b : 20
Before Swapping a : 20   b : 10

In [51]:
tuple(list(tuple("hello")))

('h', 'e', 'l', 'l', 'o')

# tupple into list and again tupple

In [49]:
t1=(10,30,40,50,60,70)
print(t1)

t1=list(t1)
t1.insert(1,20)
t1=tuple(t1)
print(t1)

(10, 30, 40, 50, 60, 70)
(10, 20, 30, 40, 50, 60, 70)

In [ ]:
# delete , pop , insert   ### X Not Possible

# universal fu ctions : min max , sum , len

In [52]:
t1=(10,30,5,23,100,60)
print(min(t1))
print(max(t1))
print(len(t1))
print(sum(t1))

5
100
6
228

## Fibd the % contribution from the list

In [56]:
marks=[10,23,45,32,90]   #     [10000,20000,50000]

In [ ]:
obt_markd/total_marks*100

In [55]:
(90/sum([10,23,45,32,90]))*100

45.0

In [58]:
marks=[10,23,45,32,90]  
total=sum(marks)

per_con=[]

for item in marks:
    print((item/total)*100)

5.0
11.5
22.5
16.0
45.0