In [1]:
import numpy as np

In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

In [4]:
driver=webdriver.Chrome()

In [5]:
driver.get("https://sipalaya.com/")

In [6]:
# /html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[1]/div/div[3]/h3/a
# /html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[2]/div/div[3]/h3/a
# /html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[3]/div/div[3]/h3/a

# old pricce
# /html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[1]/div/div[4]/div[1]/div[1]/span/del/span/bdi
# /html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[3]/div/div[4]/div/div[1]/span/del/span/bdi
# /html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[4]/div/div[4]/div/div[1]/span/del/span/bdi

# newprice
# /html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[1]/div/div[4]/div[1]/div[1]/span/ins/span/bdi
# /html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[2]/div/div[4]/div/div[1]/span/ins/span/bdi
# /html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[13]/div/div[4]/div/div[1]/span/ins/span/bdi

In [7]:
loc="/html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[1]/div/div[3]/h3/a"
obj=driver.find_element(By.XPATH,loc)
obj.text

'CodeYourFuture: The IT Mentorship Revolution – Online Session | Kartik 29 (Saturday), 11 AM – 3 PM'

In [11]:
course_title=[]
old_price=[]
new_price=[]
for i in range(1,14):
    loc=f"/html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[{i}]/div/div[3]/h3/a"
    obj=driver.find_element(By.XPATH,loc)
    course_title.append(obj.text)

    loc=f"/html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[{i}]/div/div[4]/div[1]/div[1]/span/del/span/bdi"
    obj=driver.find_element(By.XPATH,loc)
    old_price.append(obj.text)

    loc=f"/html/body/div[1]/div[2]/div/section[5]/div/div/div/div/div/div/div[1]/div[{i}]/div/div[4]/div[1]/div[1]/span/ins/span/bdi"
    obj=driver.find_element(By.XPATH,loc)
    new_price.append(obj.text)

In [16]:
dic={"Course":course_title,
     "Old Price":old_price,
     "New Price":new_price}
df=pd.DataFrame(dic)

In [17]:
df

                                               Course  Old Price  New Price
0   CodeYourFuture: The IT Mentorship Revolution –...   Rs.9,999     Rs.999
1                         UI / UX Design | 2.5 Months  Rs.19,999  Rs.14,999
2             Python With Data Science | (3-6) Months  Rs.24,999  Rs.19,999
3             Web Design | HTML , CSS & JS | 2 Months  Rs.14,999   Rs.9,999
4           App Development with Flutter | 2.5 Months  Rs.19,999  Rs.14,999
5             Java With Spring & Hibernate | 3 Months  Rs.24,999  Rs.19,999
6                       PHP With Laravel | 2.5 Months  Rs.19,999  Rs.14,999
7   Artificial Intelligence: Shape Future Innovati...  Rs.19,999  Rs.14,999
8                         Graphic Design | 2.5 Months  Rs.19,999  Rs.14,999
9     Frontend Development With React JS | 2.5 Months  Rs.19,999  Rs.14,999
10                              MERN Stack | 3 Months  Rs.29,999  Rs.19,999
11  Full Stack Web Development in Python With Djan...  Rs.19,999  Rs.14,999
12  Physical / Online Digital Marketing Training |...  Rs.19,999  Rs.14,999

In [21]:
df.to_csv(r"/home/sangam/Documents/task/datasets.csv",index=False)
df.to_json(r'/home/sangam/Documents/task/dataset.json',index=False,indent=4,orient="records")

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Course     13 non-null     object
 1   Old Price  13 non-null     object
 2   New Price  13 non-null     object
dtypes: object(3)
memory usage: 444.0+ bytes

In [23]:
cols=['Old Price',"New Price"]

In [26]:


df['Old Price'].str.replace("Rs.","")

0      9,999
1     19,999
2     24,999
3     14,999
4     19,999
5     24,999
6     19,999
7     19,999
8     19,999
9     19,999
10    29,999
11    19,999
12    19,999
Name: Old Price, dtype: object

In [36]:
for i in cols:
    df[i]=df[i].str.replace("Rs.","").str.replace(",","").astype(float)

In [37]:
df

                                               Course  Old Price  New Price
0   CodeYourFuture: The IT Mentorship Revolution –...     9999.0      999.0
1                         UI / UX Design | 2.5 Months    19999.0    14999.0
2             Python With Data Science | (3-6) Months    24999.0    19999.0
3             Web Design | HTML , CSS & JS | 2 Months    14999.0     9999.0
4           App Development with Flutter | 2.5 Months    19999.0    14999.0
5             Java With Spring & Hibernate | 3 Months    24999.0    19999.0
6                       PHP With Laravel | 2.5 Months    19999.0    14999.0
7   Artificial Intelligence: Shape Future Innovati...    19999.0    14999.0
8                         Graphic Design | 2.5 Months    19999.0    14999.0
9     Frontend Development With React JS | 2.5 Months    19999.0    14999.0
10                              MERN Stack | 3 Months    29999.0    19999.0
11  Full Stack Web Development in Python With Djan...    19999.0    14999.0
12  Physical / Online Digital Marketing Training |...    19999.0    14999.0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Course     13 non-null     object
 1   Old Price  13 non-null     float64
 2   New Price  13 non-null     float64
dtypes: float64(2), object(1)
memory usage: 444.0+ bytes