In [1]:
# Q1. Store daily sales numbers in a Python list and calculate the total.
sales=[120, 250, 300, 100]
sum(sales)

770

In [2]:
# Find the number of transactions (length of the list).
len(sales)

4

In [3]:
# Q3. Find the highest and lowest sales in a list.
print(max(sales))
print(min(sales))

300
100

In [4]:
# Q4. Count how many times a product was sold.
# Hint: Use .count(value).
# Example:
# Input: ["Apple","Banana","Apple","Orange","Apple"]
# Output: Apple=3

products= ["Apple","Banana","Apple","Orange","Apple"]
products.count('Apple')

3

In [8]:
# Find the top 3 highest daily sales.
# Hint: Use sorted(list, reverse=True)[:3].
# Example:
# Input: [120, 450, 200, 800, 300]
# Output: [800, 450, 300]
sorted_sales=sorted([120, 450, 200, 800, 300],reverse=True)
sorted_sales[:3]

[800, 450, 300]

In [10]:
# Calculate percentage growth between days.
# Formula:

# 
#  Example:
# Input: [100, 120, 150]
# Output: [20.0, 25.0]

growth=[100,120,150]
print((growth[1]-growth[0])/100*100)
print((growth[2]-growth[1])/120*100)

20.0
25.0

In [16]:
# Q7. Convert sales to cumulative totals.
# Hint: Running sum with a loop.
# Example:
# Input: [100, 200, 300]
# Output: [100, 300, 600]

sales=[100, 200, 300]
cumulative_sales=[]
total=0
for x in sales:
    total+=x
    cumulative_sales.append(total)
cumulative_sales

[100, 300, 600]

In [18]:
# Remove outliers (sales < 50 or > 500).
# Hint: Use list comprehension with condition.
# Example:
# Input: [20, 100, 600, 300, 450]
# Output: [100, 300, 450]

data=[20, 100, 600, 300, 450]
data_A_ro=[x for x in data if 50<=x<=500]
data_A_ro

[100, 300, 450]

In [19]:
# # Example:
# # Input: [100, 200, 300, 400]
# # Output: [0.0, 0.33, 0.66, 1.0]
# Q9. Normalize sales values between 0–1.
input=[100, 200, 300, 400]
output=[]
for x in input:
    y=(x-min(input))/(max(input)-min(input))
    output.append(y)
print(input)
print(output)

[100, 200, 300, 400]
[0.0, 0.3333333333333333, 0.6666666666666666, 1.0]

In [29]:
# Q10. Calculate 3-day moving average (rolling mean).
#  Hint: Use Sliding window=3
#  Example:
# Input: [10,20,30,40,50]
# (10+20+30)/3=20.0 , (20+30+40)/3=30 , (30+40+50)/3=40.0
# Output: [20.0, 30.0, 40.0]
input= [10,20,30,40,50]
output=[]
sl_wind=3
input[:3]
for i in range(len(input)-sl_wind+1):
    wind_Sum= sum(input[i:i+sl_wind])
    output.append(wind_Sum/sl_wind)
output

TypeError: 'int' object is not callable